@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Azure For .NET Developers</h1>
	 <h3>
		WE are here to learn about the diggerent Microsoft Azure Features and  .NET Core development
	 </h3>
    
</div>
